header > h1 {
  color: #ffffff;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 1em;
  background-color: #89AEB2;
  padding: 0.3em 0.6em;
  border: 1px solid #ffffff;

}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url(john-fowler-RsRTIofe0HE-unsplash.jpg) repeat center center fixed;
  background-size: cover;
}
header {
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  border: 2px solid #ffffff;
}

footer{
	margin-top: 3.5em;
	padding: 0;
	display: flex;
	align-items: center;
}

footer > p {
	display: flex;
	margin: 0 auto;
	text-align: center;
	color: #fffa;
}	

ul{
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 2em;
}

ul > li {
  background-color: #fffa;
  border-radius: 10em;
  padding: 1em;
  margin: 1.4em 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
}

ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

}

a {
  color: inherit;
  text-decoration: none;
}
